
/* Your CSS Code here. */.margin{
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  background-color: white;
}
.border{
    border: 15px solid blue;
  

}
.padding{
   border: 1px solid lightblue;
   padding: 50px;
   background-color: lightblue;
   
}
.text-box{
    border: 2px dashed black;
    width: 300px;
	background-color:rgb(173, 216, 230);
    
}
