
/* Your CSS Code here. */.margin{
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  background-color: white;
}

.padding{
   border: 1px solid lightblue;
   background-color: lightblue;
   
}
.text-box{
    width: 300px;
	margin:20px;
	padding:50px;
	border:15px solid rgb(0,0,255);
	background-color:rgb(173, 216, 230);
    
}
